.expansion-panel {
  cursor: pointer;

  &.show {
    @include media-breakpoint-up(sm) {
      &.stretchable {
        margin: {
          left: -1 * $expansion-panel-padding-x;
          right: -1 * $expansion-panel-padding-x;
        }
      }
    }

    .actions {
      visibility: visible;
    }

    .collapsed-show {
      display: none;
    }
  }

  &:not(.show) {
    .collapsed-hide {
      display: none;
    }
  }

  .actions {
    @extend .d-flex;
    @extend .align-items-start;
    @extend .position-absolute;
    bottom: 0;
    right: 0;
    top: $expansion-panel-padding-y;
    visibility: hidden;
  }

  &:hover {
    @extend .shadow-sm;

    .actions {
      visibility: visible;
    }
  }

  .expansion-panel-toggler:hover {
    .actions {
      background-color: $expansion-panel-bg-active;
    }
  }
}
