.search-form {
  border-radius: 8px;

  .action-buttons {
    transform: translateY(50%);
  }

  .dropdown-menu {
    z-index: 1;
  }

  .tags {
    max-height: 20rem;
    overflow-y: auto;
  }

  .btn {
    label.pele-icons {
      color: inherit;
      font-size: inherit;
      cursor: pointer;
    }
    .pele-icons {
      line-height: inherit;
    }
  }
}
