= simple_form_for(group, html: { autocomplete: 'off' }) do |f|
  = f.input :name
  = f.input :student_ids, input_html: { value: group.students.map(&:tagify_value).to_json, data: { controller: 'chip-input', chip_input_whitelist: User.student.decorate.map(&:tagify_whitelist) }}

  = f.button :submit, class: 'btn btn-outline-primary'
