= render(partial: 'songs/song', collection: songs, locals: { parent: parent })

= show_more_link_to songs, t('.load_more'), remote: true, class: 'list-group-item d-flex justify-content-start align-items-center load-more', data: { controller: 'infinite-scroll' }